.app {
  background-color: #EF5B8F;
  height: 100vh;
}

.top {
  background-color: #F8F3EC;
}

.top .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 38px;
}

.top .nav__contact-link {
  font-size: 1.2rem;
  color: var(--nav-text-color);
}

.top .nav__contact-link i {
  font-size: 1rem;
  margin-right: 4px;
}

.top .nav__contact:hover a {
  color: var(--primary-color);
}

.top .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  font-size: 1.2rem;
}

.top .nav__item {
  position: relative;
}

.top .nav__item-link {
  padding: 0 15px;
  color: var(--nav-text-color);
}

.top .nav__item-link:hover {
  color: var(--primary-color);
}

.top .nav__item-button {
  background-color: transparent;
  color: var(--nav-text-color);
  padding: 0 15px 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.top .nav__item-button--no-pr {
  padding-right: 0;
}

.top .nav__item-button span i, .top .nav__item-button i, .top .nav__item-button i {
  font-size: 0.9rem;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.top .nav__item-button:hover {
  color: var(--primary-color);
}

.top .nav__item-button strong {
  font-size: 1.3rem;
}

.top .nav__item .dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  width: 190px;
  background-color: white;
  padding: 10px 20px;
  border-bottom: 3px solid var(--primary-color);
  -webkit-box-shadow: 0 0 2px black;
          box-shadow: 0 0 2px black;
  display: none;
}

.top .nav__item .dropdown-menu__item {
  padding: 8px 0;
}

.top .nav__item .dropdown-menu__item:not(:last-child) {
  border-bottom: 1px solid #EDEDED;
}

.top .nav__item .dropdown-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #666666;
}

.top .nav__item .dropdown-menu__link i {
  font-size: 1rem;
}

header {
  background-color: #fff;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 121px;
}

header .header__img {
  margin: 10px 0;
}

header .header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  border: 1px solid #EDEDED;
  margin-left: 170px;
}

header .header__search-btn {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #EDEDED;
}

header .header__search-btn .dropdown-menu {
  position: absolute;
  top: 75%;
  left: -1px;
  width: 130%;
  height: 80vh;
  overflow-y: scroll;
  border: 1px solid #EDEDED;
  background-color: white;
  display: none;
}

header .header__search-btn .dropdown-menu__item {
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

header .header__search-btn .dropdown-menu__item-link {
  font-size: 1.4rem;
  color: #666666;
  padding-top: 0;
}

header .header__search-btn .dropdown-menu__item-link:hover {
  color: var(--primary-color);
}

header .header__search-btn .dropdown-menu__submenu-item {
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

header .header__search-btn .dropdown-menu__submenu-item:last-child {
  padding-bottom: 0;
}

header .header__search-btn .dropdown-menu__submenu-item-link {
  font-size: 1.4rem;
  color: #666666;
}

header .header__search-btn .dropdown-menu__submenu-item-link:hover {
  color: var(--primary-color);
}

header .header__search-link {
  font-size: 1.4rem;
  color: #666;
  padding: 0 25px;
}

header .header__search-link i {
  font-size: 0.9rem;
  opacity: 0.8;
}

header .header__search-link:hover span {
  color: var(--primary-color);
}

header .header__search-link:active .dropdown-menu {
  display: block;
}

header .header__search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
  width: 280px;
}

header .header__search-form .header__suggest {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: white;
  padding: 20px;
  border: 1px solid #c3c3c3;
  margin: 0;
  margin-top: 3px;
  display: none;
}

header .header__search-form .header__suggest .header__suggest-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 111px;
  padding: 8px 0;
}

header .header__search-form .header__suggest .header__suggest-item-link {
  font-size: 14px;
  color: #3b3c48;
  margin-left: 12px;
}

header .header__search-form .header__suggest .header__suggest-item-link p {
  margin: 0;
  line-height: 2.2rem;
}

header .header__search-form .header__suggest .header__suggest-item-link:hover p:not(:last-child) {
  color: var(--primary-color);
}

header .header__search-form .header__suggest .header__suggest-item-link .header__suggest-item-price {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  cursor: default;
}

header .header__search-form .header__suggest .header__suggest-item-link .header__suggest-img {
  width: 80px;
  height: 95px;
  -o-object-fit: contain;
     object-fit: contain;
}

header .header__search-input {
  width: 280px;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: 1.2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header .header__search-btn--icon {
  background-color: transparent;
  border: none;
  outline: none;
  height: 100%;
  font-size: 1.4rem;
  padding: 0 10px;
  cursor: pointer;
}

header .header__call-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 40px;
  margin-left: 70px;
}

header .header__call-us-text {
  text-align: right;
  margin-right: 10px;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

header .header__call-us-text p, header .header__call-us-text span {
  margin: 0;
  height: 16.8px;
  font-size: 1rem;
  font-weight: bold;
}

header .header__call-us-text span {
  font-size: 1.2rem;
  color: var(--primary-color);
}

header .header__call-us-link img {
  width: 40px;
}

header .header__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 145px;
  height: 40px;
  margin-left: auto;
  border: 1px solid var(--primary-color);
  outline: none;
  font-size: 1.2rem;
  color: white;
  background-color: var(--primary-color);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

header .header__cart i {
  margin-right: 10px;
}

header .header__cart:hover {
  background-color: white;
  color: var(--primary-color);
}

header .header__cart-dropdown {
  position: absolute;
  top: 150%;
  right: 0;
  width: 250%;
  -webkit-box-shadow: 0 0 2px black;
          box-shadow: 0 0 2px black;
  border-bottom: 3px solid var(--primary-color);
  background-color: white;
  display: none;
}

header .header__cart-dropdown-list {
  margin: 0;
  padding: 0 0 0;
}

header .header__cart-dropdown-list .header__cart-dropdown-item {
  margin: 0 20px;
  padding: 20px 0 20px;
  border-bottom: 1px solid #eaeaea;
}

header .header__cart-dropdown-list .header__cart-dropdown-item .header__cart-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header__cart-dropdown-list .header__cart-dropdown-item .header__cart-top-link {
  position: relative;
}

header .header__cart-dropdown-list .header__cart-dropdown-item .header__cart-top-link img {
  width: 98px;
  height: 131px;
  -o-object-fit: contain;
     object-fit: contain;
}

header .header__cart-dropdown-list .header__cart-dropdown-item .header__cart-top-link i {
  position: absolute;
  top: 0;
  left: -8px;
  font-size: 2rem;
  cursor: pointer;
}

header .header__cart-dropdown-list .header__cart-dropdown-item .header__cart-top-link .second-icon {
  color: #EF5B8F;
  background-color: #fff;
}

header .header__cart-dropdown-list .header__cart-dropdown-item .header__cart-top-link .second-icon:hover {
  opacity: 0;
}

header .header__cart-dropdown-list .header__cart-dropdown-item .header__cart-top-link .first-icon {
  color: #EF5B8F;
  background-color: #fff;
}

header .header__cart-dropdown-list .header__cart-dropdown-item .header__cart-top-detail {
  margin-left: 20px;
}

header .header__cart-dropdown-list .header__cart-dropdown-item .header__cart-top-detail .item-name {
  color: #3b3c48;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 12px 0 10px;
}

header .header__cart-dropdown-list .header__cart-dropdown-item .header__cart-top-detail .item-name p {
  text-align: left;
}

header .header__cart-dropdown-list .header__cart-dropdown-item .header__cart-top-detail .item-name:hover {
  color: var(--primary-color);
}

header .header__cart-dropdown-list .header__cart-dropdown-item .header__cart-top-detail .color-option, header .header__cart-dropdown-list .header__cart-dropdown-item .header__cart-top-detail .size-option {
  color: #666;
  text-align: left;
  margin: 0;
  font-size: 1.19rem;
}

header .header__cart-dropdown-list .header__cart-dropdown-item .header__cart-top-detail .quantity-and-price {
  color: #666;
  font-size: 1.5rem;
  text-align: left;
}

header .header__cart-dropdown-list .header__cart-dropdown-item .header__cart-top-detail .quantity-and-price span {
  font-size: 2rem;
  font-weight: bold;
  color: #303030;
}

header .header__cart-dropdown-list table {
  margin-top: 15px;
  width: 100%;
}

header .header__cart-dropdown-list table tr {
  color: #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header__cart-dropdown-list table tr .text-left {
  font-size: 1.4rem;
  font-weight: bold;
}

header .header__cart-dropdown-list table tr .text-right {
  font-size: 2rem;
  font-weight: 700;
}

header .header__cart-dropdown-list table tr td {
  padding: 5px 26px 8px;
}

header .header__cart-dropdown-list .header__cart-dropdown-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 20px;
  background-color: var(--primary-color);
}

header .header__cart-dropdown-list .header__cart-dropdown-btn a {
  color: white;
  padding: 8px 40px;
  border: 1px solid white;
}

header .header__cart-dropdown-list .header__cart-dropdown-btn a:hover {
  color: var(--primary-color);
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .header__cart-dropdown .header__cart-list--empty {
  display: none;
}

header .header__cart-dropdown .header__cart-list--empty p {
  font-size: 1.3rem;
  color: #666666;
  margin: 40px 0 40px;
}

.boss_header {
  background-color: #343434;
}

.boss_header .nav-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.boss_header .nav-main .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #525252;
  height: 100%;
  padding: 0 20px;
  cursor: pointer;
  position: relative;
}

.boss_header .nav-main .category .category-text {
  font-size: 1.4rem;
  color: white;
  padding-right: 140px;
}

.boss_header .nav-main .category i {
  font-size: 1.8rem;
  color: white;
}

.boss_header .nav-main .category-menu {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  background-color: #f8f8f8;
  -webkit-box-shadow: 0 0 1px black;
          box-shadow: 0 0 1px black;
  display: none;
}

.boss_header .nav-main .category-menu-item {
  padding: 15px;
  position: relative;
}

.boss_header .nav-main .category-menu-item__link {
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boss_header .nav-main .category-menu-item__link img, .boss_header .nav-main .category-menu-item__link span i {
  margin-right: 20px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.boss_header .nav-main .category-menu-item__link p {
  font-size: 20px;
}

.boss_header .nav-main .category-menu-item__link span {
  color: #666;
}

.boss_header .nav-main .category-menu-item__link span i {
  font-size: 14px;
  padding-left: 5px;
  opacity: 0.6;
}

.boss_header .nav-main .category-menu-item__link i {
  font-size: 10px;
  color: #666;
  margin-left: auto;
}

.boss_header .nav-main .category-menu-item:hover {
  background-color: white;
}

.boss_header .nav-main .category-menu-item:hover span {
  color: black;
  font-weight: bold;
}

.boss_header .nav-main .category-menu-item:hover .category-submenu {
  display: block;
}

.boss_header .nav-main .category-menu-item:first-child .category-submenu {
  background-image: url(../../assets/img/bg_submenu.png);
  background-position: top right;
  background-repeat: no-repeat;
  width: 196%;
  -webkit-animation: expand-width .4s;
          animation: expand-width .4s;
}

.boss_header .nav-main .category-menu-item:nth-child(2) .category-submenu, .boss_header .nav-main .category-menu-item:nth-child(5) .category-submenu {
  width: 155%;
  -webkit-animation: expand-width2 .4s;
          animation: expand-width2 .4s;
}

.boss_header .nav-main .category-menu-item .category-submenu {
  position: absolute;
  top: 0;
  left: 100%;
  padding: 20px 30px;
  border-bottom: 3px solid var(--primary-color);
  background-color: white;
  -webkit-animation: expand-width3 0.4s;
          animation: expand-width3 0.4s;
  display: none;
}

@-webkit-keyframes expand-width {
  from {
    width: 140%;
  }
  to {
    width: 196%;
  }
}

@keyframes expand-width {
  from {
    width: 140%;
  }
  to {
    width: 196%;
  }
}

@-webkit-keyframes expand-width2 {
  from {
    width: 140%;
  }
  to {
    width: 155%;
  }
}

@keyframes expand-width2 {
  from {
    width: 140%;
  }
  to {
    width: 155%;
  }
}

@-webkit-keyframes expand-width3 {
  from {
    width: 70%;
  }
  to {
    width: 79%;
  }
}

@keyframes expand-width3 {
  from {
    width: 70%;
  }
  to {
    width: 79%;
  }
}

.boss_header .nav-main .category-menu-item .category-submenu__list {
  display: inline-block;
}

.boss_header .nav-main .category-menu-item .category-submenu__list .category-submenu__type {
  font-size: 16px;
  font-weight: bold;
  color: var(--primary-color);
}

.boss_header .nav-main .category-menu-item .category-submenu__list-item {
  padding-top: 10px;
  margin-right: 20px;
  width: 147px;
}

.boss_header .nav-main .category-menu-item .category-submenu__list-item:not(:last-child) {
  border-bottom: 1px solid #eaeaea;
}

.boss_header .nav-main .category-menu-item .category-submenu__list-item-link {
  font-size: 14px;
  color: #666;
}

.boss_header .nav-main .category-menu-item .category-submenu__list-item-link:hover {
  color: var(--primary-color);
}

.boss_header .nav-main .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 26px;
}

.boss_header .nav-main .menu-title {
  font-size: 1.5rem;
  color: white;
  padding-right: 3px;
}

.boss_header .nav-main .menu i {
  font-size: 9px;
  color: white;
}

.boss_header .nav-main .menu:hover span {
  color: var(--primary-color);
}

.boss_header .nav-main .menu:hover i {
  color: var(--primary-color);
}
/*# sourceMappingURL=main.css.map */