.app {
    background-color: lightblue;
    height: 600px;
}

.top {
    background-color: #F8F3EC;

    .nav {
        display: flex;
        align-items: center;

        height: 38px;

        &__contact {
            
            &-link {
                font-size: 1.2rem;
                color: var(--nav-text-color);

                 i {
                    font-size: 1rem;
                    margin-right: 4px;
                }
            }

            &:hover a{
                color: var(--primary-color);
            }
        }
        // ----------------------------------------
        &__list {
            display: flex;

            margin-left: auto;
            font-size: 1.2rem;
        }

        &__item {
            position: relative;

            &-link {
                padding: 0 15px;
                color: var(--nav-text-color);

                &:hover {
                    color: var(--primary-color);
                }
            }

            &-button {
                background-color: transparent;
                color: var(--nav-text-color);
                
                padding:0 15px 10px;
                border: none;

                outline: none;
                cursor: pointer;

                &--no-pr{
                    padding-right: 0;
                }

                 span i,  i, i {
                    font-size: 0.9rem;
                    transform: translateY(-1px);
                }

                &:hover {
                    color: var(--primary-color);
                }

                strong {
                    font-size: 1.3rem;
                }

                
            }

            // &:hover .dropdown-menu{
            //     display: block;
            // }

            .dropdown-menu {
                position: absolute;
                top: 100%;
                right: 0;

                z-index: 1;

                width: 190px;
                background-color:white;

                padding: 10px 20px;
                border-bottom: 3px solid var(--primary-color);
                box-shadow: 0 0 2px black;

                display: none;

                &__item {
                    padding: 8px 0;

                    &:not(:last-child) {
                        border-bottom: 1px solid #EDEDED;
                    }
                }

                &__link {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    color: #666666;

                     i {
                        font-size: 1rem;
                    }
                }
            }
         
        }
    }
}

header {
    background-color: #fff;
    
    .header {
        display: flex;
        align-items: center;

        height: 121px;

        &__link {
        }

        &__img {
            margin: 10px 0;
        }

        &__search {
            display: flex;
            align-items: center;

            height: 40px;
            border: 1px solid #EDEDED;

            margin-left: 170px;
            

            &-btn {
                position: relative;
                height: 100%;

                display: flex;
                align-items: center;
                
                border-right: 1px solid #EDEDED;

                .dropdown-menu {
                    position: absolute;
                    top: 75%;
                    left: -1px;
                    
                    width: 130%;
                    height: 80vh;
                    overflow-y: scroll;

                    border: 1px solid #EDEDED;

                    background-color: white;
                    display: none;

                    &__item {
                        padding-left: 25px;
                        padding-top: 5px;
                        padding-bottom: 5px;

                        &-link {
                            font-size: 1.4rem;
                            color: #666666;
                            padding-top: 0;

                            &:hover {
                                color: var(--primary-color);
                            }
                        }
                    }

                    &__submenu {
                        &-item {
                            padding-left: 15px;
                            padding-top: 5px;
                            padding-bottom: 5px;

                            &:last-child {
                                padding-bottom: 0;
                            }

                            &-link {
                                font-size: 1.4rem;
                                color: #666666;

                                &:hover {
                                    color: var(--primary-color);
                                }
                            }
                        }
                    }
                }
            }

            &-link {
                font-size: 1.4rem;
                color: #666;

                padding: 0 25px;

                i {
                    font-size: 0.9rem;
                    opacity: 0.8;
                }

                &:hover span {
                    color: var(--primary-color);
                }

                &:active .dropdown-menu{
                    display: block;
                }
            }

            &-form {
                display: flex;

                position: relative;

                height: 100%;
                width: 280px;

                .header__suggest{
                    position: absolute;
                    top: 100%;
                    width: 100%;

                    background-color:white;

                    padding: 20px;
                    border: 1px solid #c3c3c3;
                    margin: 0;
                    margin-top: 3px;

                    display: none;

                    .header__suggest-item {
                        display: flex;

                        height: 111px;
                        padding: 8px 0;

                        &-link {
                            
                            font-size: 14px;
                            color: #3b3c48;

                            margin-left: 12px;

                            p{
                                margin: 0;
                                line-height: 2.2rem;
                            }

                            &:hover p:not(:last-child) {
                                color: var(--primary-color);
                            }

                            .header__suggest-item-price {
                                font-size: 20px;
                                font-weight: bold;

                                margin-top: 10px;
                                cursor: default;
                            }

                            .header__suggest-img {
                                width: 80px;
                                height: 95px;
                                object-fit: contain;
                            }
                        }
                    }
                }
            }

            &-input {
                width: 280px;
                height: 100%;
                border: none;
                outline: none;
                padding-left: 10px;

                font-size: 1.2rem;
                flex: 1;
            }

            &-btn--icon {
                background-color: transparent;
                border: none;
                outline:none;

                height: 100%;
                font-size: 1.4rem;
                padding:0 10px;

                cursor: pointer;
            }
        }

        &__call-us {
            display: flex;
            align-items: flex-start;

            height: 40px;
            margin-left: 70px;

            &-text {
                text-align: right;
                margin-right: 10px;
                transform: translateY(-4px);

                p, span {
                    margin: 0;
                    height: 16.8px;
                    font-size: 1rem;
                    font-weight: bold;
                }

                span {
                    font-size: 1.2rem;
                    color: var(--primary-color);
                }
            }

            &-link {

                img {
                    width: 40px;
                }

            }
        }

        &__cart{
            display: flex;
            align-items: center;
            justify-content: center;

            position: relative;

            width: 145px;
            height: 40px;
            margin-left: auto;
            
            border: 1px solid var(--primary-color);
            outline: none;

            font-size: 1.2rem;
            color: white;

            background-color: var(--primary-color);
            transition: 0.6s;

            i {
                margin-right: 10px;
            }

            &:hover {
                background-color:white;
                color: var(--primary-color);
            }

            &-dropdown {
                position: absolute;
                top: 150%;
                right: 0;
                width: 250%;

                box-shadow: 0 0 2px black;
                border-bottom: 3px solid var(--primary-color);

                background-color: white;
                display: none;
                
                &-list {
                    margin: 0;
                    padding: 0 0 0;

                    .header__cart-dropdown-item {
                        
                        margin: 0 20px;

                        padding: 20px 0 20px;

                        border-bottom: 1px solid #eaeaea;

                        .header__cart-top {
                            display: flex;

                            &-link {
                                position: relative;
                                
                                img {
                                    width: 98px;
                                    height: 131px;
    
                                    object-fit: contain;
                                }
                                
                                i {
                                    position: absolute;
                                    top: 0;
                                    left: -8px;
                                    font-size: 2rem;
                                    cursor: pointer;
                                }
                                
                                

                                .second-icon {
                                    color: #EF5B8F;
                                    background-color: #fff;
                                    &:hover{
                                        opacity: 0;
                                    }
                                }

                                .first-icon {
                                    color: #EF5B8F;
                                    background-color: #fff;
                                }
                            }

                            &-detail {
                                margin-left: 20px;

                                .item-name {
                                    color: #3b3c48;
                                    font-size: 1.4rem;
                                    text-transform: uppercase;
                                    
                                    padding: 12px 0 10px;

                                    p{
                                        text-align: left;
                                    }

                                    &:hover {
                                        color: var(--primary-color);
                                    }
                                }

                                .color-option, .size-option {
                                    color: #666;
                                    text-align: left;
                                    margin: 0;

                                    font-size: 1.19rem;
                                }

                                .quantity-and-price {
                                    color: #666;
                                    font-size: 1.5rem;

                                    text-align: left;

                                    span {
                                        font-size: 2rem;
                                        font-weight: bold;
                                        color: #303030;
                                    }
                                }
                            }
                        }
                    }

                    table {
                        margin-top: 15px;
                        width: 100%;
                        
                        tr {
                            color: #303030;

                            display: flex;
                            justify-content: space-between;
                            
                            .text-left {
                                font-size:  1.4rem;
                                font-weight: bold;
                            }

                            .text-right {
                                font-size: 2rem; 
                                font-weight: 700;
                            }

                            td {
                                padding: 5px 26px 8px;
                            }
                        }
                    }
                    .header__cart-dropdown-btn {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
    
                        padding: 16px 20px;
    
                        background-color: var(--primary-color);
    
                        a {
                            color: white;
                            
                            padding: 8px 40px;
                            border: 1px solid white;
    
                            &:hover {
                                color: var(--primary-color);
                                background-color:white;
    
                                transition: 0.5s;
                            }
                        }
                    }
                }


                .header__cart-list--empty {
                    p {
                        font-size: 1.3rem;
                        color:#666666;
                        margin: 40px 0 40px;
                    }
                }
            }
        }
    }
}

.d-b {
    display: block;
}

.d-n {
    display: none;
}